.supplier-main-wrapper {
    width:100%;
    min-height: 100vh;
    padding-right: 20px;
    padding-left: 20px;
}
.supplier-top-container{
    width:100%;
    display:flex;
    justify-content: space-between;
    height:84px;
    padding-bottom: 11px;
    padding-top: 11px;
    box-sizing: border-box;
}
.supplier-table-container{
    width:100%;
    margin-top: 30px;

}


/* view supplier */

.view-supplier-main {
    width:100%;
    min-height: 100vh;
}

.view-supplier-name-container{
    width:100%;
    height:83px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
}

.tab {
    background-color:  #EEEEEE !important;
    font-size: 14px !important;
    color: black !important;
    margin:1px !important;
    
}


.tab:active{
    background-color: #E46036 !important;
    color:#fff !important;
    font-size: 14px !important;

}


.nav-link:active{
    background-color: #E46036 !important;
    color:#fff !important;
    font-size: 14px !important;

}

.date-picker-container{
    height:120px;
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}

.content-wrapper{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-tab{
    margin:20px;
}

.view-btn{
    background-color: transparent;
    border:1px solid #A5A5A5;
    color:#E46036
}



/* orders */

.orders-main{
    width:100%;
    height: auto;
}

.order-cart-button-container{
    width: 100%;
    height:80px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
