.btn-main {
    min-width:200px;
    height:40px;
    display: flex;
    justify-content:center;
    justify-items: center;
    align-items: center;
    padding: 4px;
    border:1px solid #A5A5A5;
    border-radius: 6px;
    box-sizing: border-box;
}

.btn-main:hover{
    border:1px solid #E46036;
}

.btn-icon{
    font-size:16px;
    color: #E46036;
    width:40;
    height:40;
    margin-right: 9px;
    
}

.btn-text{
    font-size:16px;
    color: #E46036;
}