/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
      right: 0;
      */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.gp-btn-margin {
    /* margin: 5px 25px 5px 25px; */
}

.sidebar .nav-item {
    /* margin: 5px 25px 5px 25px; */
    /* border-radius: 3px !important; */
}

.sidebar .nav-item .active {
    background: #e46036;
    color: #ffffff !important;

    /* border-radius: 3px !important; */
}

.sidebar-p {
    padding: 0.5rem !important;
}

.sidebar .nav-link {
    color: #a5a5a5 !important;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: 0.75rem;
}
