.btn-main{
    min-width:241px;
    height:50px;
    background-color: #FFC3AF;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:15px;
    padding-right: 15px;
    box-sizing: border-box;

}

.icon-cont{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.text-cont {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.count-cont {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.count {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 34px;
    height:34px;
    border-radius: 16px;
    background-color: black;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}
