.recipes-main-wrapper{
    width:100%;
    height:auto;

}

.recipes-header-container{
    width:100%;
    padding-top: 19px;
    padding-bottom: 19px;
    height:84px;

    display:flex;
    justify-content: space-between;
    align-items: center;

}

.recipes-top-btn-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.recipe-block-btn{
    height:53px;
    width:170px;
    margin-right:11px;
    font-size: 16px;
}
.recipes-search-container{
    height:240px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;

}

.recipes-extra-container{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.recipes-card-styles{
    height:190px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.recipes-not-found-container{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    font-weight: 400;
}

/* new recipe */

.new-recipe-header-cont{
    width:100%;
    padding-top: 10px;
    padding-bottom: 10px;
    height:65px;

    display:flex;
    justify-content:flex-start;
    align-items: center;
    border-bottom:  0.5px solid rgba(122, 122, 122, 0.8);
}


.new-recipe-block-btn{
    height:35px;
    width:150px;
    margin-right:11px;
    font-size: 16px;
}

.start-recipe-block-btn{
    height:35px;
    width:150px;
    margin-right:11px;
    font-size: 16px;
    background:transparent !important;
    color:#000 !important;
    border:"1px solid #000000" !important;
}


/* overiding the Tabs and Tab classes to fit GP styling */

 .nav-item .nav-link.active {
    background: #e46036 !important;
    border-radius: 6px 6px 0px 0px;
    color: #fff !important;
    border-bottom: 0.5px solid #7a7a7a !important;
}