.i-e-btn {
    background: #e2edf8 !important;
    border: 0.5px solid #7a7a7a !important;
    height: 52px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #e46036 !important;
}
