/* Link for setting up SVG color filters 
https://codepen.io/sosuke/pen/Pjoqqp
*/

.svg-white {
    fill: white;
}

.svg-black {
    fill: black !important;
}

.filter {
    filter: invert(79%) sepia(0%) saturate(362%) hue-rotate(156deg)
        brightness(83%) contrast(92%);
}
