table {
    border-collapse: collapse;
    /* margin-left: 15px; */
    width: 750px !important;
    margin-left: 0px !important;
    /* width: 100%; */
  }
  
  td, th {
    /* border-bottom: 1px solid #dddddd; */
    /* text-align: left; */
    /* padding: 8px; */
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 2px !important;
    margin-left: -20px !important;
    font-size: 14px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }