.signup-box{
    width:480px !important;
    position: fixed !important;
    top: 18% !important;
    left: 40% !important;
    margin-top: -100px !important;
    margin-left: -100px !important;
}
.signup-fields{
    padding: 10px;
    width:480px !important;
    height: auto;
    /* background-color: #fff; */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    border-radius: 5px;
}
.signup-logo-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.signup-logo{
    width: 306px;
    height: 54px;

}
.signup-title h2{
    font-size: 22px;
    text-align: left;
    margin-bottom: 25px;
}
.signup-title p{
    font-size: 14px;
    text-align: left;
    margin-top: -20px;
    margin-bottom: 20px;
}
.signup-others{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.signup-link{
    margin-left: 5px;
    text-decoration: none;
    color: #E46036;
}
.signup-link-text{
    float: right;
}
.sign-button{
    background-color: #E46036 !important;
    outline: none !important;
    border: none !important;
}
input[type=text]{
    margin: 5px 0px 10px 0px;
}