.employee-setup-tabs li button {
    border-radius: 0 !important;
    border: 0 !important;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    background: transparent;

    color: #000000;
}

.employee-setup-tabs li button.active {
    background: transparent !important;
    border-bottom: 3px solid #e46036 !important;
}

.employees_tabs {
    border-radius: 0 !important;
    border-left: 3px solid #000000 !important;
    background-color: none !important;
    color: #000000 !important;
    padding-top: 15px !important;
}
a.employees_tabs.active {
    background-color: transparent !important;
    border-left: 3px solid #e46036 !important;
}

.fc-7A {
    color: #7a7a7a;
    font-size: 16px;
    margin-right: 5px;
}

.fz-20 {
    font-size: 16px;
}

.table-head {
    background: #ffe5dc;
}

.tableEven {
    background: rgba(227, 227, 227, 0.6);
}

.cBtn {
    border: 1px solid #a5a5a5 !important;
    border-radius: 6px !important;
}
