:root {
    --bs-primary: #e46036;
}

.auth-bg {
    background: #f1ede5 !important;
}

.bg-success {
    background-color: #35b858 !important;
}

a {
    color: #e46036 !important;
    text-decoration: none !important;
}

.bg-theme {
    background: #e46036 !important;
}

.text-theme {
    color: #e46036 !important;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
        inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

/*
   * Navbar
   */

.navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
    top: 0.25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: 0.75rem 1rem;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.bg-sidebar {
    background-color: #18191d;
}

.bg-bake {
    background-color: #303034 !important;
}

.form-control {
    border: 0.7px solid #7a7a7a !important;
    border-radius: 4px !important;
}

.form-select {
    border: 0.7px solid #7a7a7a !important;
    border-radius: 4px !important;
}

label {
    display: flow-root !important;
}

.form-check-input:checked {
    background-color: #ff5722 !important;
    border-color: #e46036 !important;
}

.form-check-input {
    border-color: #7a7a7a !important;
}

.input-group-text {
    background-color: #eeeeee !important;
}
