.top-crumbs {
    margin-left: 23px !important;
    margin-top: 12px !important;
}

.gp-breadcrumb-item {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    margin-left: 10px;
}

.gp-breadcrumb-item a {
    color: #989898 !important;
}

.gp-crumb-active a {
    color: #000000 !important;
}

.gp-breadcrumb-item a:hover {
    color: #e46036 !important;
}

.gp-icon {
    font-size: 12px;
    color: #707070 !important;
}

ol.breadcrumb li + li:before {
    content: '\003E' !important;
}
