.top-crumbs {
    margin-left: 23px !important;
    margin-top: 12px !important;
}

.gp-breadcrumb-item {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    margin-left: 10px;
}

.gp-breadcrumb-item a {
    color: #989898 !important;
}

.gp-crumb-active a {
    color: #000000 !important;
}

.gp-breadcrumb-item a:hover {
    color: #e46036 !important;
}

.gp-icon {
    font-size: 12px;
    color: #707070 !important;
}

ol.breadcrumb li + li:before {
    content: url("data:image/svg+xml,%3Csvg width='5' height='11' viewBox='0 0 5 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.99831 5.50863C4.99864 5.69189 4.94054 5.86949 4.83411 6.01061L1.26453 10.7167C1.14335 10.8768 0.969215 10.9776 0.780437 10.9967C0.591658 11.0158 0.403698 10.9518 0.257904 10.8186C0.11211 10.6855 0.020426 10.4942 0.00302092 10.2868C-0.0143842 10.0794 0.0439153 9.87287 0.165094 9.7127L3.36344 5.50863L0.279321 1.30456C0.220019 1.22433 0.175734 1.13201 0.149011 1.03292C0.122287 0.933827 0.113653 0.82991 0.123605 0.727139C0.133556 0.624368 0.161896 0.52477 0.206997 0.434072C0.252098 0.343372 0.31307 0.263361 0.386409 0.198635C0.459814 0.126805 0.545932 0.0724039 0.639365 0.0388393C0.732797 0.00527569 0.831533 -0.00672725 0.929384 0.00358196C1.02724 0.0138902 1.1221 0.0462884 1.20802 0.0987472C1.29395 0.151207 1.36908 0.222597 1.42873 0.308444L4.87695 5.01449C4.96655 5.15966 5.00928 5.33364 4.99831 5.50863Z' fill='%23707070'/%3E%3C/svg%3E%0A") !important;
}
