.SettingsWrapper{
    /* margin-top: 20% !important; */
}
.MuiTabs-vertical .MuiButtonBase-root {
    text-transform: capitalize !important;
    color: orange !important;
    white-space: nowrap;
}
.MuiTabs-vertical .MuiTabs-indicator{
    background-color: orange !important;
    margin-left: 6px !important;

}